/* font-family: 'Crimson Pro', serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
}

body {
    background-color: #181719;
}

.container {
    max-width: 100vw;
    max-height: 100vh;
}

/* Nav */

.navbar .container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 85px;
    width: 1200px;
    font-family: Montserrat, sans-serif;
    height: 20px;
}

.navbar .container h3 {
    font-family: "Crimson Pro", serif;
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    border: #fff 1px solid;
    padding: 2px;
}
.navbar .container a {
    display: inline-block;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 5px;
    list-style: none;
    text-decoration: none;
    color: #fff;
}

.navbar .container a .current {
    text-decoration: underline;
}

/* Heading */

header .container h1 {
    font-family: "Lora";
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 61px;
    padding: 20px;
}

header .container p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 20px;
    width: 50%;
    padding-left: 20px;
}

header .container .more {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 20px;
    margin-left: 20px;
}

/* Photo */

main .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 100vw;
}
.content img {
    width: 330px;
    margin-top: 20px;
}

/* Designer Info */

.designer {
    background-color: #181719;
    position: absolute;
    width: 270px;
    height: 120px;
    left: 75px;
    top: 610px;
}

.container .designer-info,
.designer-name,
.designer-title {
    float: right;
    position: absolute;
    top: 640px;
    left: 150px;
}

.designer-name {
    font-family: "Montserrat", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    padding-left: 15px;
    top: 620px;
    left: 150px;
}
.designer-title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #828282;
    margin-top: 2px;
    padding-left: 15px;
    top: 640px;
    left: 150px;
}

span.designer-info {
    position: absolute;
    margin-top: 30px;
    top: 680px;
    left: 50px;
    font-family: "Lora";
    font-weight: 700;
    font-size: 18px;
    padding-left: 15px;
}

.room-img {
    position: relative;
    width: 360px;
    margin-left: 5px;
    padding: 0;
}

.aliza-photo {
    width: 40px;
    border-radius: 50%;
    padding: 5px;
}

/* Footer */
.footer {
    position: absolute;
    width: 100%;
    height: 17px;
    top: 750px;
    left: 50px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #a9a9a9;
}

/* Media */

/* Mobile */
@media screen and (max-width: 480px) {
    .navbar .container a {
        display: none;
    }
}

/* Desktop */

@media screen and (min-width: 1200px) {
    /* Heading */
    header .container {
        display: flex;
        flex-direction: column;
        width: 500px;
        margin-top: 250px;
    }

    /* Designer Info */

    .designer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 400px;
        height: 150px;
        left: 800px;
        top: 650px;
    }

    .designer-name {
        flex-shrink: 3;
    }
    .container .designer-info,
    .designer-name,
    .designer-title {
        float: right;
        position: absolute;
        top: 700px;
        left: 900px;
    }

    .designer-title {
        top: 680px;
        left: 900px;
    }

    .designer-name {
        top: 660px;
        left: 900px;
    }
    span.designer-info {
        position: absolute;
        margin-top: 30px;
        top: 680px;
        left: 800px;
    }

    .room-img {
        float: right;
        position: absolute;
        left: 500px;
        top: 200px;
        width: 760px;
        margin-right: 50px;
        padding: 0;
    }

    .aliza-photo {
        width: 60px;
        height: 70px;
        margin-top: 15px;
        margin-left: 25px;
    }

    footer {
        padding-top: 80px;
        padding-bottom: 5px;
        text-align: center;
    }
}
